
  .App {
  text-align: center;
  margin-top: 100px;
  border: 2px solid black;
  box-shadow: 0 0 8px 4px rgb(185, 185, 185);
  height: 300px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: table;

  }

.quiz {
  margin-top: 50px;
}

 .Submit{
  margin-top: 10px;
  
}
.green-background {
  background-color: green;
}

.red-background {
  background-color: red;
}

